@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");
@import url("//cdn.web-fonts.ge/fonts/mg-bitneon-hollow/css/mg-bitneon-hollow.min.css");
@import url("//cdn.web-fonts.ge/fonts/mg-bitneon-chaos/css/mg-bitneon-chaos.min.css");
*{
    margin:0;
    padding: 0;
   
}

html {
    height: 100vh;
  
}

body{
    height: 100vh;
    
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    
}

nav{
display: grid;
grid-template-columns: 10% 1fr 1fr 10%;
height: 11vh;
align-items: center;

}



#icon{
   color: white;
   font-size: 40px;
   grid-column: 4/5;
   z-index: 9;
   position: absolute;
   top: 30px;
   right: 7.5%;
  background-color: rgb(0, 0, 0);
  animation-duration: 3.8s;
    animation-iteration-count: inherit;
    pointer-events: none;
    
}
nav img{
    height: 70px;
    justify-self: start;
    grid-column: 2/3;
    top: 10px;
    animation-duration: 4s;
    animation-iteration-count: inherit;
    position: relative;
    z-index: 6;
    transition: 2s;
}

#checkbox{
    position: absolute;
    width: 34px;
    height: 40px;
    top: 30px;
    right: 7.5%;
    z-index: 8;
  
}

input[type="checkbox"]:checked ~ .but{
    right: -50px;
    background-color: rgb(1, 1, 22);
}



.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgb(2, 1, 12), rgb(6, 4, 46));
    z-index: -1;
    animation-duration: 4s;
    animation-iteration-count: inherit;
}

.hero{
    position: relative;
    
    animation-duration: 4s;
    animation-iteration-count: inherit;
  animation-name: imganim;
    height: 50vh;
    width: 100%;

}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 99vw;
}
#imgg{
    position: relative;
    width: 80%;
    height: 100%;
    object-fit: cover;
    animation-duration: 4s;
    animation-iteration-count: inherit;
    left: 10vw;
    z-index: 4;

}
    


.headline{
    position: relative;
    top: 40%;
    color: white;
    z-index: 5;
    font-size: 30px;
     
    transition: 1s;
    font-family: "MG BitNeon Chaos", sans-serif;
}





#particles-js{
    top: 0;
    position: absolute;
    height: 100vh;
    z-index: 0;
    width: 99%;
    animation-duration: 4s;
    animation-iteration-count: inherit;
   opacity: 1;
}




#img:hover{
    transform: scale(1.2)

}

.tengo {
    display: flex;
   position: absolute;
   top: 70%;
   left: 19%;
}
.headline:hover{
    transform: scale(1.4);
    z-index: 5;
    
}


.body{
    position:absolute;
    width: 100%;
  height: 100vh;
  animation-duration: 8s;
  animation-iteration-count: inherit;
  top: 0vh;
  background-image: linear-gradient(to left, rgb(2, 1, 12), rgb(6, 4, 46));
  }


  #particles-js1{
    top: 0vh;
    position: absolute;
    height: 100vh;
    z-index: 0;
    width: 99%;
    animation-duration: 8s;
    animation-iteration-count:inherit;
  
    opacity: 1;
   
}

#img1{
   
    width: 200px;
    
    object-fit: cover;
    animation-duration: 4s;
    animation-iteration-count: inherit;
  
    z-index: 4;
    transition: 1s;
}

.bodychild{
    position: absolute;
    display: flex;
    top: 100vh;
    justify-content: center;
    align-items: center;
    animation-duration: 8s;
    animation-iteration-count: inherit;
    width: 100%;
    z-index: 5;
    left: -100vw;
    
}



#img1:hover{
   transform: scale(1.2);
}
.helloo:hover{
    transform: scale(1.1);
 }
 

.helloo {
    border: 5px solid black;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    font-family: "ALKDots", sans-serif;
background-image: radial-gradient(rgba(36, 36, 48, 0.26),rgba(117, 117, 153, 0.596));
z-index: 5;
transition: 1s;
}




#buttons{
    
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px;
    text-align: right;
position: relative;
justify-content:center;
display: flex;


}

.but{
    height:120px;
    background-color: rgb(1, 1, 22);
    margin-left: 0px;
    position: fixed;
    width: 102%;
    text-align: right;
    transition: 0.5s;
    z-index: 7;    
    width: 30vw;
    height: 100vh;
    right: -100vh;
    border: 3px solid white;
    border-radius: 50px;
}

    

ul li {
    list-style: none;
} 

ul {
    display: block;
    transform: translateX(20px);
    margin-top: 60px;
    position: absolute;
    top: 0vw;
    
}

li{
    margin: 5px;
  
}
.button {
   position: relative;
    border-radius: 10px;
    height: 50px;
    color: white;
    background-color:rgba(255, 0, 0, 0);
    border: none;
    transition:0.2s;
transform: translateX(2px);
   display: flex;
   align-items: center;
   justify-content: center;
  left: -40%;
}

button:hover {
    color: rgb(0, 98, 255);
}



i{
    font-size: 40px;
}

a{
    text-decoration:none;
    margin: 30px;
}
.button p{
    margin: 8px;
}

/*ვესაიტის ჩატვირთვის სტილი*/
/*ვესაიტის ჩატვირთვის სტილი*/
/*ვესაიტის ჩატვირთვის სტილი*/
#websit{
    display: none;
    position: relative;
    
}

#preload{
    
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 3, 39);
    position: relative;
    z-index: 100000;
    align-items: center;
    justify-content: center;
    
}

#loading_object{
border: 6px solid white;
height: 50px;
width: 50px;
animation-name:anim;
animation-duration: 4s;
animation-iteration-count:infinite ;
position: relative;
z-index: 1;
transform: translateY(10px);
}

#loading_object1{
    border: 6px solid white;
    height: 80px;
    width: 80px;
    animation-name:anim2;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    position: relative;
    z-index: 1;
    transform: translateY(39.8vh);
    }

#text{
    color: white;
    position: relative;
    position: relative;
    z-index: -10;
    transform: translateY(40vh);
}

